logging: DEBUG
# API tokens
token: ".env"
# max number of retries to get a valid mission plan from ChatGPT
max_retries: 10
max_tokens: 10000
temperature: 0.2
log_directory: "./app/gpt_outputs/rap"
schema:
  - "schemas/kinova_gen3_6dof.xsd"
# NOTE: this is only for backwards compat when we change schema formats
context_files:
  - "app/resources/context/prompts/mission_planner/manipulators/kinova.txt"
lint_xml: True
# who to send this too?
host: 127.0.0.1
port: 12346
# LTL generation?
ltl: False
promela_template: "app/resources/context/formal_verification/promela_template.txt"
spin_path: "spin"
