{% set rows = farm_polygon.dimensions[0].row %}
{% set cols = farm_polygon.dimensions[0].col %}
{% set top_left = farm_polygon.points[0] %}
{% set top_right = farm_polygon.points[1] %}
{% set bottom_right = farm_polygon.points[2] %}
{% set bottom_left = farm_polygon.points[3] %}
{% set top_right_tree = cols %}
{% set bottom_left_tree = (rows - 1) * cols + 1 %}
{% set bottom_right_tree = rows * cols %}
FARM LAYOUT:
Polygon corners (approximate GPS coordinates):

Top Left (NW) (tree 1): {{ top_left.lat }}, {{ top_left.lon }}

Top Right (NE) (tree {{ top_right_tree }}): {{ top_right.lat }}, {{ top_right.lon }}

Bottom Left (SW) (tree {{ bottom_left_tree }}): {{ bottom_left.lat }}, {{ bottom_left.lon }}

Bottom Right (SE) (tree {{ bottom_right_tree }}): {{ bottom_right.lat }}, {{ bottom_right.lon }}

Grid size:

{{ cols }} trees per row

{{ rows }} trees per columns

Total trees: {{ rows }} × {{ cols }} = {{ rows * cols }} trees

RULES:

Numbering: ONE-BASED INDEXING NOT ZERO INDEX, ordered left-to-right, top-to-bottom (like reading a book) for all trees. i.e tree 1 is row 1, column 1.
Tasks should almost always require driving to a tree and then doing an action unless doing multiple actions at the same tree.

You cannot drive through columns of trees!
If you require to move between columns to sample a tree you must also include intermediate trees that get you out and in columns (first or last row).

USE THIS INFORMATION TO CREATE THE XML MISSION.
